@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('fontawesome-all.min.css');
/* Variables */
:root {
  --font-family: "Muli" ,sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #abd1c6;
  --primary-color: #004643;
  --highlight-color: #fa5246;
  --secondary-color: #004643;
  --paragraph-color: #001e1d;
  --hover-color: #f9bc60;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.1s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav h1 {
  color: var(--primary-color);
}


nav li a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  border-bottom: 2px solid var(--hover-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
  font-size: 1.3rem;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 25rem;
  object-fit: cover;
}

.bio {
  padding: 0.625rem;
  border-radius: 6px;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio h2 {
    color: #0f3433;

}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
  color: var(--paragraph-color);
}
/* Hero section ends */


/* Projects section */
.projects {
  padding: 32px 0;
  margin-top: 2rem;

}

.projects p {
    font-size: 17px;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  --img-scale: 1.001;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #eff0f3;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--highlight-color);
}

article a:focus {
  outline: 1px dotted var(--secondary-color);
}

article p {
    color: var(--paragraph-color);
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: var(--secondary-color);
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************
Generic layout (demo looks)
**************************/


.articles {
  display: grid;
  /* make 1200 if more projects added  */
  max-width: 40%;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* Projects section ends */

/* Footer section */
footer {
  background-color: var(--secondary-color);
  padding: 1.25rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid var(--secondary-color);
}

footer .icons {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}

footer .icons li a:hover {
  color: var(--highlight-color);
}

footer .icons li a{
   margin: 0 1rem 0rem 1rem;
   color: var(--bg-color);
}


/* Footer section ends */

/* General (utilities) */

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column-reverse;
    gap: 0;
  }

  .hero .image {
    height: 25rem;
    width: 30rem;
  }

  .bio {
    margin-top: -2rem;
    width: 22rem;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  footer {
  position: inherit;
  }
}

@media screen and (max-width: 420px) {
  .hero .image {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }


  footer {
  position: inherit;
  }